@charset "utf-8";

/* reset */
*{margin:0;padding:0;box-sizing:border-box;font-family:"Malgun Gothic","맑은 고딕", Dotum, "돋움", Gullim, "굴림", Tahoma, "Microsoft Sans Serif", sans-serif;}
html {font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
html, body{height:100%;margin:0;padding:0;word-break:keep-all;}
body, div, p, table, thead, tfoot, tbody, tr, th, td, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, address, span, img, strong, b, em, i{margin:0;padding:0;border:0;-webkit-text-size-adjust:none;}
fieldset,img {border:0 none; vertical-align:top}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-family: inherit;font-size:inherit;font-family:inherit;}
button{overflow:visible;display:inline-block;margin:0;padding:0;background-color:transparent;cursor:pointer;}
button, html input[type="button"], input[type="reset"], input[type="submit"], input[type="image"] { -webkit-appearance: button; cursor: pointer;outline:0; }
button:focus {border:1px dotted #000;}
input[type="text"],input[type="number"], input[type="password"], input[type="date"], input[type="file"] {box-sizing:border-box;height:26px;padding:0 5px 3px 5px;border:1px solid #bfbfbf;}
input[type="file"] {box-sizing:border-box;border:1px solid #bfbfbf;height:26px; outline-style:none;background-color:#fff;padding:1px !important;cursor: pointer;font-size:12.5px !important;}
input[type=file]::-ms-browse {border:none !important;box-shadow: 0 0 0px 0 #f0f0f0 inset !important;}
input[type="file"]::-webkit-file-upload-button {height:22px}
textarea {overflow: auto; border:1px solid #bfbfbf;padding:3px;-webkit-appearance: none; -webkit-border-radius: 0;font-size:13px;}
select{box-sizing:border-box;height:26px;padding:3px;border:1px solid #bfbfbf;}
label {cursor:pointer}

body {font-size:13px;font-style:normal;/*line-height:1.399;*/color:#555; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%;word-break:keep-all;background:url(/images/admin/bg_admin_body.png) repeat-y 0 0;}
input[type="radio"], input[type="checkbox"]{width:14px; height:14px;margin:0;}

a {color:inherit;text-decoration:none}
a:active, a:hover {color:inherit;text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
table {table-layout: fixed; border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5{font-size:1.1em;color:#000;}
legend,.blind, .screen_out {overflow:hidden;position:absolute;top:0;left:0;width:0px;height:0px;font-size:0px;line-height:0;} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
caption {overflow:hidden;top:0;left:0;width:0px;height:0px;font-size:0px;line-height:0;} 

.pointer { cursor:pointer; _cursor /**/:hand }
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;z-index:-10;width:100%;height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.period {height:26px !important;background:url(/images/common/bg_datepicker.png) no-repeat 100% 50%;padding-right:25px !important;}

/**** Input Selector ****/
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
html input[disabled] {cursor:default; background-color:#fff; border:1px solid #bfbfbf !important}
html input[enabled] {background:#f9f9f9; border:1px solid #bfbfbf !important}
html input[readonly] {cursor:default; background-color:#f9f9f9 !important;}
html input[required] {background-color:#e6e6e6 !important; }
html input.disabled {cursor:default; background-color:#f9f9f9; border:1px solid #bfbfbf !important}
html input.required {background-color:#e6e6e6 !important;}
html input[disabled]:focus, html input.disabled:focus {border:1px solid #bfbfbf !important; background-color:#f9f9f9 !important;}
html input[readonly]:focus, html input.readonly:focus {background-color:#f9f9f9 !important;}
.disabled { opacity: .70; }
::-webkit-input-placeholder {font-size:90%; color:#999;}
::-moz-placeholder {font-size:90%; color:#999;} /* firefox 19+ */
:-ms-input-placeholder {font-size:90%; color:#999;} /* ie */
input:-moz-placeholder {font-size:90%; color:#999;}
#map-convas { }
#map-canvas img { max-width: none !important; }
/*Loading*/
#loading {display:none; position:absolute;top:50%;left:50%;margin-top:-16px;width:32px;z-index:100;}
#loading img {width:32px; height:32px;}
/*Loading*/
.popupMask {position:fixed;top:0;left:0;width:100%;height:100%; background-color: rgba(127,127,127,0.5); z-index:9000;display:none;}
/* -- For Print -- */
@media print {
body { margin: 0; background: #fff }
}
