@charset "utf-8";

.trans200{-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
.trans300{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.trans400{-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-o-transition:all 0.4s;-ms-transition:all 0.4s;transition:all 0.4s}
.trans500{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;-ms-transition:all 0.5s;transition:all 0.5s}

/* Common Hidden Popup */
#hidden_popup {position:fixed;top:0;z-index:1000;width:100%;}
.hidden_popup_top {text-align:right;height:25px;}
.hidden_popup_top>.bt_popup {}
.hidden_popup_top>.bt_popup>.open {display:block;color:#a4a4a5;font-size:1.5rem;font-weight:700;height:25px;line-height:23px;padding-right:30px;background:url(/images/front/common/bt_ico_popup.png) no-repeat 100% 50%;}
.hidden_popup_top>.bt_popup>.open:active {background:url(/images/front/common/bt_ico_popup.png) no-repeat 100% 50%;}
@media screen and (max-width:992px) {
	#hidden_popup .hidden_popup_top {display:none;}
}
@media screen and (min-width:993px) and (max-width: 1199px) {
	#hidden_popup .hidden_popup_top {padding:0 2rem;}
}
@media screen and (min-width:1200px) {
	.hidden_popup_top {display:block;margin:0 auto;width:1200px;}
}
.hidden_popup_wrap {z-index:1000;position:fixed;top:0;left:0;margin:0;padding:0;width:100%;height:auto;overflow:hidden;background-color:rgba(0, 0, 0, 0);opacity:0;display:none;}
.hidden_popup_wrap.open {z-index:1000;position:fixed;top:0;left:0;margin:0;padding:0;width:100%;height:auto;overflow:hidden;background-color:rgba(122, 71, 32, .5);opacity:1;display:block;}
.hidden_popup_wrap.open .hidden_inner {position:relative;margin:0 auto;box-sizing:border-box;}
.hidden_popup_wrap.open .hidden_popup_list {text-align:center;}
.hidden_popup_wrap.open .popup_conts {/*display:table;width:100%;text-align:center;padding:5px;*/background-color:#fff;}
.hidden_popup_wrap.open .popup_conts ul {display:table-cell;vertical-align:middle;}
.hidden_popup_wrap.open .popup_conts ul li {}
.hidden_popup_wrap.open .popup_conts ul li.txt_head {font-weight:800;}
.hidden_popup_wrap.open .popup_conts ul li.txt_year {color:#333;}
.hidden_popup_wrap.open .popup_conts .txt_link {box-sizing:border-box;display:table-cell;vertical-align:middle;color:#fff;font-weight:700;}
.hidden_popup_wrap.open .popup_conts .txt_link:hover {background-color:#fff !important;border:1px solid #f48729 !important; color:#000;}
@media screen and (max-width:767px) {
	.hidden_popup_wrap.open {z-index:1000;position:fixed;top:0;left:0;margin:0;padding:0;width:100%;height:100%;overflow:hidden;background-color:rgba(244, 135, 41, .5);opacity:1;display:block;}
	.hidden_popup_wrap.open .hidden_inner {padding:1.5rem 2rem 0 2rem;}
	.hidden_popup_wrap.open .popup_conts {margin:0 0 1rem 0;padding:2rem;min-height:12rem;}
	.hidden_popup_wrap.open .popup_conts ul {display:block;overflow:hidden;}
	.hidden_popup_wrap.open .popup_conts ul li {display:block;letter-spacing:0;line-height:1.25;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_head {font-size:1.5rem;font-weight:800;padding-bottom:.5rem;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_year {font-size:1.4rem;padding-bottom:.5rem;}
	.hidden_popup_wrap.open .popup_conts .txt_link {display:block;padding:0 1rem;font-size:1.5rem;font-weight:700;text-align:center;}
	.hidden_popup_wrap.open .popup_conts .txt_link span {display:inline-block;vertical-align:middle;line-height:4rem;}
}
@media screen and (max-width:992px) {
	.hidden_popup_wrap.open .popup_conts ul li {display:block;letter-spacing:0;line-height:1.25;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_head {font-size:1.5rem;font-weight:800;padding-bottom:.5rem;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_year {font-size:1.4rem;padding-bottom:.5rem;}
	.hidden_popup_wrap.open .popup_bottom_pc {display:none;}
	.hidden_popup_wrap.open .popup_bottom_mobile {display:block;padding:1rem 0 0 0;}
	.hidden_popup_wrap.open .popup_bottom_mobile ul {display:flex;display:-webkit-flex;display:-ms-flexbox;-webkit-flex-flow: row wrap;flex-flow: row wrap;margin:0;padding:0;}
	.hidden_popup_wrap.open .popup_bottom_mobile ul li {flex:1;-webkit-box-flex: 1;-ms-flex:1;flex-grow:1;box-sizing:border-box;border:0;background-color:#fff;}
	.hidden_popup_wrap.open .popup_bottom_mobile ul li:last-child {background-color:#d3cccc;}
	.hidden_popup_wrap.open .popup_bottom_mobile ul li>a {}
	.hidden_popup_wrap.open .popup_bottom_mobile ul li .close {display:block;color:#000;font-weight:700;line-height:40px;font-size:1.5rem;text-align:center;}	
}
@media screen and (min-width:768px) and (max-width:992px) {
	.hidden_popup_wrap.open {z-index:1000;position:fixed;top:0;left:0;margin:0;padding:0;width:100%;height:100%;overflow:hidden;background-color:rgba(244, 135, 41, .5);opacity:1;display:block;}
	.hidden_popup_wrap.open .hidden_inner {padding:1.5rem 2rem 0 2rem;}
	.hidden_popup_wrap.open .popup_conts {display:table;width:100%;margin:0 0 1rem 0;padding:1rem;min-height:7.5rem;}
	.hidden_popup_wrap.open .popup_conts ul {width:92%;padding:0;}
	.hidden_popup_wrap.open .popup_conts ul li {padding-right:1rem;}
	.hidden_popup_wrap.open .popup_conts .txt_link {width:8%;min-width:65px;line-height:6rem;font-size:1.5rem;}
	.hidden_popup_wrap.open .popup_conts .txt_link span {display:inline-block;vertical-align:middle;line-height:1.5;}
}
@media screen and (min-width:993px) and (max-width: 1199px) {
	.hidden_popup_wrap.open .hidden_inner {padding:3rem 2rem 0 2rem;}
	.hidden_popup_wrap.open .hidden_popup_list {}
	.hidden_popup_wrap.open .popup_conts {display:table;width:100%;margin:0 0 1rem 0;padding:1rem;min-height:7.5rem;}
	.hidden_popup_wrap.open .popup_conts ul {width:92%;padding:0;}
	.hidden_popup_wrap.open .popup_conts ul li {padding-right:1rem;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_head {font-size:2rem;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_year {font-size:1.4rem;}
	.hidden_popup_wrap.open .popup_conts .txt_link {width:8%;min-width:65px;line-height:6rem;font-size:1.5rem;}
	.hidden_popup_wrap.open .popup_bottom_mobile {display:none}
	.hidden_popup_wrap.open .popup_bottom_pc {margin:2rem 0 0 0;display:table;width:100%;}
	.hidden_popup_wrap.open .popup_bottom_pc input[type="checkbox"], 
	.hidden_popup_wrap.open .popup_bottom_pc label,
	.hidden_popup_wrap.open .popup_bottom_pc button {display:inline-block;vertical-align:middle;}
	.hidden_popup_wrap.open .popup_bottom_pc input[type="checkbox"] {width:16px;height:16px;border:0;}
	.hidden_popup_wrap.open .popup_bottom_pc .oneday_close {margin-left:1rem;background-color:#fff;border:0;width:80px;line-height:30px;text-align:center;color:#000;font-size:1.7rem;font-weight:700;}
	.hidden_popup_wrap.open .popup_bottom_pc>.oneday {display:table-cell;vertical-align:top;width:100%;color:#fff;font-size:1.5rem;}
	.hidden_popup_wrap.open .popup_bottom_pc>.bt_popup {display:table-cell;vertical-align:middle;width:10%;min-width:115px;background-color:#dc7b29;z-index:1002;}
	.hidden_popup_wrap.open .popup_bottom_pc>.bt_popup>.close {display:block;height:40px;line-height:40px;text-align:center;color:#fff;font-size:1.5rem;font-weight:700;}
	.hidden_popup_wrap.open .popup_bottom_pc>.bt_popup>.close:after  {content: "\f077";font-family: 'FontAwesome';margin-left:10px;color:#000;}
}
@media screen and (min-width:1200px) {
	.hidden_popup_wrap.open .hidden_inner {padding:3rem 0 0 0;}
	.hidden_popup_wrap.open .hidden_popup_list {margin:0 auto;width:1200px;}
	.hidden_popup_wrap.open .popup_conts {display:table;width:100%;margin:0 0 1rem 0;padding:1rem;min-height:7.5rem;}
	.hidden_popup_wrap.open .popup_conts ul {width:92%;padding:0;}
	.hidden_popup_wrap.open .popup_conts ul li {padding-right:1rem;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_head {font-size:2rem;}
	.hidden_popup_wrap.open .popup_conts ul li.txt_year {font-size:1.4rem;}
	.hidden_popup_wrap.open .popup_conts .txt_link {width:8%;min-width:80px;line-height:6rem;font-size:1.5rem;}
	.hidden_popup_wrap.open .popup_bottom_mobile {display:none}
	.hidden_popup_wrap.open .popup_bottom_pc {margin:0 auto;display:table;width:1200px;padding:3rem 0 0 0;}
	.hidden_popup_wrap.open .popup_bottom_pc input[type="checkbox"], 
	.hidden_popup_wrap.open .popup_bottom_pc label,
	.hidden_popup_wrap.open .popup_bottom_pc button {display:inline-block;vertical-align:middle;}
	.hidden_popup_wrap.open .popup_bottom_pc input[type="checkbox"] {width:16px;height:16px;border:0;}
	.hidden_popup_wrap.open .popup_bottom_pc .oneday_close {margin-left:1rem;background-color:#fff;border:0;width:80px;line-height:30px;text-align:center;color:#000;font-size:1.7rem;font-weight:700;}
	.hidden_popup_wrap.open .popup_bottom_pc>.oneday {display:table-cell;vertical-align:top;width:1085px;color:#fff;font-size:1.5rem;}
	.hidden_popup_wrap.open .popup_bottom_pc>.bt_popup {display:table-cell;vertical-align:middle;width:115px;background-color:#dc7b29;z-index:1002;}
	.hidden_popup_wrap.open .popup_bottom_pc>.bt_popup>.close {display:block;height:40px;line-height:40px;text-align:center;color:#fff;font-size:1.5rem;font-weight:700;}
	.hidden_popup_wrap.open .popup_bottom_pc>.bt_popup>.close:after  {content: "\f077";font-family: 'FontAwesome';margin-left:10px;color:#000;}
}

/* POPUP COLOR */
#color01 .txt_head {color:#091373;}
#color01 .txt_link {background-color:#091373;border:1px solid #091373;}
#color02 .txt_head {color:#a62b7f;}
#color02 .txt_link {background-color:#a62b7f;border:1px solid #a62b7f;}
#color03 .txt_head {color:#096073;}
#color03 .txt_link {background-color:#096073;border:1px solid #096073;}
#color04 .txt_head {color:#f48729;}
#color04 .txt_link {background-color:#f48729;border:1px solid #f48729;}
#color05 .txt_head {color:#736909;}
#color05 .txt_link {background-color:#736909;border:1px solid #736909;}
#color06 .txt_head {color:#6c2ba6;}
#color06 .txt_link {background-color:#6c2ba6;border:1px solid #6c2ba6;}
#color07 .txt_head {color:#097337;}
#color07 .txt_link {background-color:#097337;border:1px solid #097337;}
#color08 .txt_head {color:#767676;}
#color08 .txt_link {background-color:#767676;border:1px solid #767676;}
#color09 .txt_head {color:#9f0e2d;}
#color09 .txt_link {background-color:#9f0e2d;border:1px solid #9f0e2d;}

#wrap {overflow:hidden;}
#container {}

/* Common Float Menu */
.aside_link {position:fixed;z-index:99;}
.aside_link ul li {position:relative;}
.aside_link ul li a {font-size:0;}
.aside_link ul li a:hover {}
.aside_link button {display:inline-block;vertical-align:middle;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; border:0;outline:0;text-indent:-9999em;}
.aside_link ul li a:hover .tiptxt {opacity:1;-webkit-transition: all 0.4s fadeIn;-moz-transition: all 0.4s fadeIn; -o-transition: all 0.4s fadeIn;transition: all 0.4s fadeIn;}
.aside_link .tiptxt {position:absolute;top:50%;width:auto;padding:0 15px;background-color:rgba(0,0,0,.6);border-radius:8px;color:#fff;font-weight:700;white-space:nowrap;opacity:0;}
.aside_link .bt_apply {background:#f4a130 url(/images/front/common/floatmenu01.png) no-repeat 50% 50%;background-size:auto 29px;opacity:.8;}
.aside_link .bt_gotop {background:#db4a57 url(/images/front/common/floatmenu04.png) no-repeat 50% 50%;background-size:auto 29px;opacity:.8}
.aside_link .bt_download {background:#55d3c0 url(/images/front/common/floatmenu02.png) no-repeat 50% 50%;background-size:auto 29px;opacity:.8;}
.aside_link .bt_lifeiis {background:#e0d444 url(/images/front/common/floatmenu03.png) no-repeat 50% 50%;background-size:auto 29px;opacity:.8;}

@media screen and (max-width: 767px) {
	.aside_link {right:20px;bottom:30px;}
	.aside_link ul li {padding:5px 0 0 0;}
	.aside_link button {width:48px;height:48px;}
	.aside_link .tiptxt {right:58px;margin:-15px 0 0 0;height:30px;font-size:1.2rem;line-height:30px;}
}
@media screen and (min-width:768px) {
	.aside_link {right:30px;bottom:30px;}
	.aside_link ul li {padding:5px 0;}
	.aside_link button {width:55px;height:55px;}
	.aside_link .tiptxt {right:65px;margin:-18px 0 0 0;height:36px;font-size:1.4rem;line-height:36px;}
}

/* Common Header */
@media screen and (max-width: 767px) {
	#header {position:fixed;top:0;z-index:900;width:100%;padding:0;height:60px;}
	#header .header_inner {}
	#header .header_inner_pc {display:none;}
	.header_inner_mobile {margin:0 2rem;position:relative;}
	.header_inner_mobile .h1_logo {float:left;width:60%;margin:0;padding:15px 0;}
	.header_inner_mobile .h1_logo a {display:block;height:30px;background:url(/images/front/common/h1_logo.png) no-repeat 0 50%;background-size:auto 18px;text-indent:-9999em;}
	.header_inner_mobile .bt_group {position:fixed;right:10px;z-index:900;overflow:hidden;padding:8px 0 0 0}
	.header_inner_mobile .bt_popup {float:left;width:44px;}
	.header_inner_mobile .bt_popup a {display:block;height:44px;background:url(/images/front/common/bt_popup.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	.header_inner_mobile .bt_nav_open {float:left;width:44px;margin-left:5px;}
	.header_inner_mobile .bt_nav_open a {display:block;height:44px;background:url(/images/front/common/bt_nav.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	
	.gnb_mobile {opacity:0;display:none;position:fixed;top:0;left:0;right:0; width:100%;height:100%;overflow:hidden;overflow-y:auto;z-index:900;background-color:rgba(0,0,0,0.7);}
	.gnb_mobile.on {opacity:1;display:block;}
	.gnb_mobile.on .gnb_mobile_header {overflow:hidden;padding:0 10px 0 20px;height:60px;background-color:#fff;position:relative;}
	.gnb_mobile.on .gnb_mobile_header .h1_logo {position:absolute;left:20px;top:15px;width:50%;margin:0;z-index:901;}
	.gnb_mobile.on .gnb_mobile_header .h1_logo a {display:block;height:30px;background:url(/images/front/common/h1_logo_on.png) no-repeat 0 50%;background-size:auto 20px;text-indent:-9999em;}
	.gnb_mobile.on .gnb_mobile_header .bt_group {float:right;padding:8px 0 0 0;}
	.gnb_mobile.on .gnb_mobile_header .bt_popup {float:left;width:44px;background-color:rgba(255, 255, 255, 1);border-radius:4px;}
	.gnb_mobile.on .gnb_mobile_header .bt_popup a {display:block;height:44px;background:url(/images/front/common/bt_popup2.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	.gnb_mobile.on .gnb_mobile_header .bt_nav_open {float:left;width:44px;margin-left:5px;background-color:rgba(255, 255, 255, 1);border-radius:4px;}
	.gnb_mobile.on .gnb_mobile_header .bt_nav_open a {display:block;height:44px;background:url(/images/front/common/bt_nav2.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	.gnb_mobile.on .nav {position:absolute;top:60px;left:0;width:100%;height:auto;padding-top:2rem;padding-bottom:4rem;overflow-y:auto;z-index:987;background-color:rgba(255,255,255,1);}
	.gnb_mobile.on .nav a {display:table;width:100%;color:#000;box-sizing:border-box;letter-spacing:0;}
	.gnb_mobile.on .nav a span {display:table-cell;vertical-align:middle;width:100%;box-sizing:border-box;}
	.gnb_mobile.on .nav .gnb_depth1 {margin:0 auto;width:76.4%;}
	.gnb_mobile.on .nav .gnb_depth1>li {border-bottom:1px solid #a5a5a5;}
	.gnb_mobile.on .nav .gnb_depth1>li:first-child {}
	.gnb_mobile.on .nav .gnb_depth1>li>a {font-size:1.5rem;font-weight:800;}
	.gnb_mobile.on .nav .gnb_depth1>li>a>span {height:40px;background:url(/images/front/common/gnb_ico_plus.png) no-repeat 100% 50%; background-size:15px auto;}
	.gnb_mobile.on .nav .gnb_depth1>li.on>a {color:#000;font-size:1.5rem;font-weight:800;}
	.gnb_mobile.on .nav .gnb_depth1>li.on>a>span {background:url(/images/front/common/gnb_ico_minus.png) no-repeat 100% 50%; background-size:15px auto;}
	.gnb_mobile.on .nav .gnb_div {}
	.gnb_mobile.on .nav .gnb_depth2 {display:none}
	.gnb_mobile.on .nav .gnb_depth1>li.on>.gnb_div>.gnb_depth2 {display:block;}
	.gnb_mobile.on .nav .gnb_depth2>li {border-top:1px solid #e5e5e5;}
	.gnb_mobile.on .nav .gnb_depth2>li:first-child {border-top:1px solid #a5a5a5;}
	.gnb_mobile.on .nav .gnb_depth2>li>a {padding:0 15px;font-size:1.4rem;font-weight:400;} 
	.gnb_mobile.on .nav .gnb_depth2>li>a>span {height:40px;}
	.gnb_mobile.on .nav .gnb_depth2>li.on>a {color:#f48729;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {	
	#header {position:fixed;top:0;z-index:900;width:100%;padding:0;height:60px;}
	#header .header_inner {}
	#header .header_inner_pc {display:none;}
	.header_inner_mobile {margin:0 20px;position:relative;}
	.header_inner_mobile .h1_logo {float:left;width:50%;margin:0;padding:15px 0;}
	.header_inner_mobile .h1_logo a {display:block;height:30px;background:url(/images/front/common/h1_logo.png) no-repeat 0 50%;background-size:auto 20px;text-indent:-9999em;}
	.header_inner_mobile .bt_group {position:fixed;right:10px;z-index:900;overflow:hidden;padding:8px 0 0 0}
	.header_inner_mobile .bt_popup {float:left;width:44px;}
	.header_inner_mobile .bt_popup a {display:block;height:44px;background:url(/images/front/common/bt_popup.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	.header_inner_mobile .bt_nav_open {float:left;width:44px;margin-left:5px;}
	.header_inner_mobile .bt_nav_open a {display:block;height:44px;background:url(/images/front/common/bt_nav.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	
	.gnb_mobile {opacity:0;display:none;position:fixed;top:0;left:0;right:0; width:100%;height:100%;overflow:hidden;overflow-y:auto;z-index:900;background-color:rgba(0,0,0,0.7);}
	.gnb_mobile.on {opacity:1;display:block;}
	.gnb_mobile.on .gnb_mobile_header {overflow:hidden;padding:0 10px 0 20px;height:60px;background-color:#fff;position:relative;}
	.gnb_mobile.on .gnb_mobile_header .h1_logo {position:absolute;left:20px;top:15px;width:50%;margin:0;z-index:901;}
	.gnb_mobile.on .gnb_mobile_header .h1_logo a {display:block;height:30px;background:url(/images/front/common/h1_logo_on.png) no-repeat 0 50%;background-size:auto 20px;text-indent:-9999em;}
	.gnb_mobile.on .gnb_mobile_header .bt_group {float:right;padding:8px 0 0 0;}
	.gnb_mobile.on .gnb_mobile_header .bt_popup {float:left;width:44px;background-color:rgba(255, 255, 255, 1);border-radius:4px;}
	.gnb_mobile.on .gnb_mobile_header .bt_popup a {display:block;height:44px;background:url(/images/front/common/bt_popup2.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	.gnb_mobile.on .gnb_mobile_header .bt_nav_open {float:left;width:44px;margin-left:5px;background-color:rgba(255, 255, 255, 1);border-radius:4px;}
	.gnb_mobile.on .gnb_mobile_header .bt_nav_open a {display:block;height:44px;background:url(/images/front/common/bt_nav2.png) no-repeat 50% 50%;background-size:auto 24px;text-indent:-9999em;}
	.gnb_mobile.on .nav {position:absolute;top:60px;left:0;width:100%;height:auto;padding-top:2rem;padding-bottom:4rem;overflow-y:auto;z-index:987;background-color:rgba(255,255,255,1);}
	.gnb_mobile.on .nav a {display:table;width:100%;color:#000;box-sizing:border-box;letter-spacing:0;}
	.gnb_mobile.on .nav a span {display:table-cell;vertical-align:middle;width:100%;box-sizing:border-box;}
	.gnb_mobile.on .nav .gnb_depth1 {margin:0 auto;width:76.4%;}
	.gnb_mobile.on .nav .gnb_depth1>li {border-bottom:1px solid #a5a5a5;}
	.gnb_mobile.on .nav .gnb_depth1>li:first-child {}
	.gnb_mobile.on .nav .gnb_depth1>li>a {font-size:1.5rem;font-weight:800;}
	.gnb_mobile.on .nav .gnb_depth1>li>a>span {height:40px;background:url(/images/front/common/gnb_ico_plus.png) no-repeat 100% 50%; background-size:15px auto;}
	.gnb_mobile.on .nav .gnb_depth1>li.on>a {color:#000;font-size:1.5rem;font-weight:800;}
	.gnb_mobile.on .nav .gnb_depth1>li.on>a>span {background:url(/images/front/common/gnb_ico_minus.png) no-repeat 100% 50%; background-size:15px auto;}
	.gnb_mobile.on .nav .gnb_div {}
	.gnb_mobile.on .nav .gnb_depth2 {display:none}
	.gnb_mobile.on .nav .gnb_depth1>li.on>.gnb_div>.gnb_depth2 {display:block;}
	.gnb_mobile.on .nav .gnb_depth2>li {border-top:1px solid #e5e5e5;}
	.gnb_mobile.on .nav .gnb_depth2>li:first-child {border-top:1px solid #a5a5a5;}
	.gnb_mobile.on .nav .gnb_depth2>li>a {padding:0 15px;font-size:1.4rem;font-weight:400;} 
	.gnb_mobile.on .nav .gnb_depth2>li>a>span {height:40px;}
	.gnb_mobile.on .nav .gnb_depth2>li.on>a {color:#f48729;}
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
	#header {position:fixed;top:0;z-index:900;width:100%;padding:25px 0 0 0;height:100px;}
	#header .header_inner {}
	#header .header_inner_mobile {display:none;}
	#header .header_inner_pc {}
	.header_inner_pc .h1_logo {position:absolute;left:40px;top:30px;z-index:999;width:275px;}
	.header_inner_pc .h1_logo a {display:block;height:50px;background:url(/images/front/common/h1_logo.png) no-repeat 0 50%;background-size:100% 32px;text-indent:-9999em;}
	.header_inner_pc .h1_logo a:hover {color:#fff;}
	.header_inner_pc .h1_logo a img {}
	.header_inner_pc .graduate {display:none;}
	.gnb {}
	.white {background-color:#fff;}
	.gnb .gnb_mobile_header {display:none;}
	.gnb .gnb_inner {position:absolute;top:0;left:0;z-index:900;width:100%;padding:25px 0 0 0;width:100%;}
	.gnb_pc_header {overflow:hidden;}
	.gnb .nav {position:absolute;top:0;width:100%;padding:30px 25px 16px 395px}
	.gnb .nav .gnb_depth1 {max-width:1200px;font-size:0;text-align:center;/*display:flex;flex-grow:1;align-items:stretch;align-content:stretch;justify-content:space-between;*/}
	.gnb .nav .gnb_depth1>li {display:inline-block;width:16.66%;vertical-align:top;}
	.gnb .nav .gnb_depth1>li>a {display:block;line-height:54px;font-size:1.7rem;font-weight:700;text-align:center;color:#fff;}
	.gnb .nav .gnb_depth1>li>a>span {}
	.gnb .nav .gnb_depth1>li.on>a,
	.gnb .nav .gnb_depth1>li>a:hover {color:#000;}

	.gnb .nav .gnb_div {display:none;position:relative;padding:55px 0 0 0;text-align:center;}
	.gnb .nav .gnb_depth1>li.on>.gnb_div,
	.gnb .nav .gnb_depth1>li:hover>.gnb_div {display:block;}
	.gnb .nav .gnb_depth1>li.on>.gnb_div:after,
	.gnb .nav .gnb_depth1>li:hover>.gnb_div:after {content:'';position:absolute;left:50%;top:5px;margin:0 0 0 -12px;width:24px;height:24px;background-color:#f48729;}
	.gnb .nav .gnb_depth2 {display:block;box-sizing:border-box;padding:0;margin:0;}
	.gnb .nav .gnb_depth2>li{display:block;}
	.gnb .nav .gnb_depth2>li>a {display:block;color:#828282;font-size:1.7rem;font-weight:700;line-height:31px;border-bottom:1px solid transparent;}
	.gnb .nav .gnb_depth2>li>a>span {display:inline-block;vertical-align:middle;}
	.gnb .nav .gnb_depth2>li.on> a, 
	.gnb .nav .gnb_depth2>li>a:hover{color:#e16a04;border-bottom:1px solid #e16a04;}
}
@media screen and (min-width:1200px) {
	
	#header {position:fixed;top:0;z-index:900;width:100%;padding:25px 0 0 0;height:100px;}
	#header .header_inner {}
	#header .header_inner_mobile {display:none;}
	#header .header_inner_pc {}
	.header_inner_pc .h1_logo {position:absolute;left:40px;top:30px;z-index:999;width:275px;}
	.header_inner_pc .h1_logo a {display:block;height:50px;background:url(/images/front/common/h1_logo.png) no-repeat 0 50%;background-size:100% 32px;text-indent:-9999em;}
	.header_inner_pc .h1_logo a:hover {color:#fff;}
	.header_inner_pc .h1_logo a img {}
	.header_inner_pc .graduate {position:absolute;right:40px;top:30px;z-index:999;width:205px;}
	.header_inner_pc .graduate a {display:block;height:54px;background:url(/images/front/common/graduate.png) no-repeat 0 0;text-indent:-9999em;}
	
	.gnb {}
	.white {background-color:#fff;}
	.gnb .gnb_mobile_header {display:none;}
	.gnb .gnb_inner {position:absolute;top:0;left:0;z-index:900;width:100%;padding:25px 0 0 0;width:100%;}
	.gnb_pc_header {overflow:hidden;}
	.gnb .nav {position:absolute;top:0;width:100%;padding:30px 300px 32px 360px}
	.gnb .nav .gnb_depth1 {max-width:1200px;font-size:0;text-align:center;/*display:flex;flex-grow:1;align-items:stretch;align-content:stretch;justify-content:space-between;*/}
	.gnb .nav .gnb_depth1>li {display:inline-block;width:16.66%;vertical-align:top;}
	.gnb .nav .gnb_depth1>li>a {display:block;line-height:54px;font-size:1.7rem;font-weight:700;text-align:center;color:#fff;}
	.gnb .nav .gnb_depth1>li>a>span {}
	.gnb .nav .gnb_depth1>li.on>a,
	.gnb .nav .gnb_depth1>li>a:hover {color:#000;}

	.gnb .nav .gnb_div {display:none;position:relative;padding:55px 0 0 0;text-align:center;}
	.gnb .nav .gnb_depth1>li.on>.gnb_div,
	.gnb .nav .gnb_depth1>li:hover>.gnb_div {display:block;}
	.gnb .nav .gnb_depth1>li.on>.gnb_div:after,
	.gnb .nav .gnb_depth1>li:hover>.gnb_div:after {content:'';position:absolute;left:50%;top:5px;margin:0 0 0 -12px;width:24px;height:24px;background-color:#f48729;}
	.gnb .nav .gnb_depth2 {display:block;box-sizing:border-box;padding:0;margin:0;}
	.gnb .nav .gnb_depth2>li{display:block;}
	.gnb .nav .gnb_depth2>li>a {display:block;color:#828282;font-size:1.7rem;font-weight:700;line-height:31px;border-bottom:1px solid transparent;}
	.gnb .nav .gnb_depth2>li>a>span {display:inline-block;vertical-align:middle;}
	.gnb .nav .gnb_depth2>li.on> a, 
	.gnb .nav .gnb_depth2>li>a:hover{color:#e16a04;border-bottom:1px solid #e16a04;}
}

@media screen and (min-width:1650px) {
	#header .header_inner_mobile {display:none;}
}

/* Common Footer */
.footer_inner {}
.footer_inner .extra {font-weight:800 !important;}
.footer_inner .link {background-color:#000;padding:0;}
.footer_inner .link .link_area {margin:0 auto;overflow:hidden;}
.footer_inner .link .link_area li {vertical-align:middle;}
.footer_inner .link .link_area li:first-child a {padding-left:0;}
.footer_inner .link .link_area li:last-child {float:right;width:60px;}
.footer_inner .link .link_area li a {border-right:1px solid #cecece;color:#cecece;}
.footer_inner .foot_cont {margin:0 auto;}

.foot_cont .address {}
.foot_cont .address li {color:#000;font-weight:400;line-height:1.5;letter-spacing:0;}
.foot_cont .address .inline {letter-spacing:0;}
.foot_cont .address .copyright {display:block;color:#a7a7a7}

@media screen and (max-width:767px) {
	.footer_inner {}
	.footer_inner .link .link_area {margin:0 2rem;font-size:0;line-height:30px;text-align:left;}
	.footer_inner .link .link_area li {display:inline-block;}
	.footer_inner .link .link_area li:last-child {display:none;}
	.footer_inner .link .link_area li a {padding:0 1rem;font-size:1rem;}
	.footer_inner .foot_cont {padding:8.5rem 0 2rem 0;background:url(/images/front/common/foot_logo.png) no-repeat 50% 30px;background-size:auto 45px;text-align:center;}
	.foot_cont .foot_sns {display:block;padding:1rem 0;font-size:0;}
	.foot_cont .foot_sns a {display:inline-block;vertical-align:middle;padding:0 5px;}
	.foot_cont .foot_sns a img {vertical-align:top;}
	.foot_cont .foot_addr {display:block;padding:.5rem 0 0 0;}
	.foot_cont .foot_addr li {display:block;font-size:1rem;}
	.foot_cont .foot_addr .inline {letter-spacing:0;}
	.foot_cont .foot_addr .inline span {padding:0 2rem;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.footer_inner {}
	.footer_inner .link .link_area {font-size:0;line-height:30px;text-align:center;}
	.footer_inner .link .link_area li {display:inline-block;}
	.footer_inner .link .link_area li:last-child {display:none;}
	.footer_inner .link .link_area li a {padding:0 1rem;font-size:1.2rem;}
	.footer_inner .foot_cont {padding:8.5rem 0 2rem 0;background:url(/images/front/common/foot_logo.png) no-repeat 50% 30px;background-size:auto 45px;text-align:center;}
	.foot_cont .foot_sns {display:block;padding:1rem 0;font-size:0;}
	.foot_cont .foot_sns a {display:inline-block;vertical-align:middle;padding:0 5px;}
	.foot_cont .foot_sns a img {vertical-align:top;}
	.foot_cont .foot_addr {display:block;padding:.5rem 0 0 0;}
	.foot_cont .foot_addr li {display:block;font-size:1.2rem;}
	.foot_cont .foot_addr .inline {letter-spacing:0;}
	.foot_cont .foot_addr .inline span {padding:0 3rem;}	
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
	.footer_inner {height:200px;}
	.footer_inner .link {height:60px;}
	.footer_inner .link .link_area {margin:0 4rem;line-height:60px;text-align:left;}
	.footer_inner .link .link_area li {float:left;}
	.footer_inner .link .link_area li:last-child {float:right;width:60px;}
	.footer_inner .link .link_area li a {padding:0 30px;font-size:1.7rem;}
	.footer_inner .link .link_area .bt_top {display:block;padding:0;border:0;height:60px;background-color:#434343;}	
	.footer_inner .foot_cont {overflow:hidden;margin:0 4rem;padding:30px 220px 0 0;background:url(/images/front/common/foot_logo.png) no-repeat 100% 30px;background-size:180px auto;}
	.foot_cont .foot_sns {float:right;}
	.foot_cont .foot_addr {float:left;max-width:570px;}
	.foot_cont .foot_addr ul {font-size:0;}
	.foot_cont .foot_addr ul li {display:inline-block;color:#000;font-size:1.5rem;font-weight:400;line-height:1.5;letter-spacing:0;}
	.foot_cont .foot_addr .inline {display:inline-block;letter-spacing:0;}
	.foot_cont .foot_addr .inline span {padding-right:20px;}
	.foot_cont .foot_addr .copyright {display:block;color:#a7a7a7;}
}
@media screen and (min-width:1200px) {
	.footer_inner {padding:0 0 3rem 0}
	.footer_inner .link {height:60px;}
	.footer_inner .link .link_area {width:1200px;line-height:60px;text-align:left;}
	.footer_inner .link .link_area li {float:left;}
	.footer_inner .link .link_area li:last-child {float:right;width:60px;}
	.footer_inner .link .link_area li a {padding:0 30px;font-size:1.7rem;}
	.footer_inner .link .link_area .bt_top {display:block;padding:0;border:0;height:60px;background-color:#434343;}	
	.footer_inner .foot_cont {overflow:hidden;margin:0 auto;width:1200px;padding:30px 200px 0 0;background:url(/images/front/common/foot_logo.png) no-repeat 100% 30px;background-size:180px auto;} 
	.foot_cont .foot_sns {float:right;}
	.foot_cont .foot_addr {float:left;max-width:670px;}
	.foot_cont .foot_addr ul {font-size:0;}
	.foot_cont .foot_addr ul li {display:inline-block;color:#000;font-size:1.5rem;font-weight:400;line-height:3rem;letter-spacing:0;}
	.foot_cont .foot_addr .inline {letter-spacing:0;}
	.foot_cont .foot_addr .inline span {padding-left:20px;}
	.foot_cont .foot_addr .copyright {display:block;color:#a7a7a7;}
}

/* Subpage Common */
.sub_container {}
.page_header {display:table;width:100%;padding:6rem 0 0 0;background-size:cover !important;}
.visual01 {background:transparent url(/images/front/sub/sub_visual01.jpg) no-repeat 50% 0;}
.visual02 {background:transparent url(/images/front/sub/sub_visual02.jpg) no-repeat 50% 0;}
.visual031 {background:transparent url(/images/front/sub/sub_visual031.jpg) no-repeat 50% 0;}
.visual032 {background:transparent url(/images/front/sub/sub_visual032.jpg) no-repeat 50% 0;}
.visual033 {background:transparent url(/images/front/sub/sub_visual033.jpg) no-repeat 50% 0;}
.visual034 {background:transparent url(/images/front/sub/sub_visual034.jpg) no-repeat 50% 0;}
.visual035 {background:transparent url(/images/front/sub/sub_visual035.jpg) no-repeat 50% 0;}
.visual036 {background:transparent url(/images/front/sub/sub_visual036.jpg) no-repeat 50% 0;}
.visual037 {background:transparent url(/images/front/sub/sub_visual037.jpg) no-repeat 50% 0;}
.visual038 {background:transparent url(/images/front/sub/sub_visual038.jpg) no-repeat 50% 0;}
.visual04 {background:transparent url(/images/front/sub/sub_visual04.jpg) no-repeat 50% 0;}
.visual05 {background:transparent url(/images/front/sub/sub_visual05.jpg) no-repeat 50% 0;}
.visual06 {background:transparent url(/images/front/sub/sub_visual06.jpg) no-repeat 50% 0;}
.visual07 {background:transparent url(/images/front/sub/sub_visual07.jpg) no-repeat 50% 0;}
.page_header_inner {display:table-cell;width:100%;vertical-align:middle;color:#fff;}
.page_header_inner h2.gnb_depth1_tit {color:#fff;font-weight:800;text-align:center;}
.page_header_inner .location {font-size:0;text-align:center;}
.page_header_inner .location li {display:inline-block;}
.page_header_inner .location li:before {content:'>';display:inline-block;margin:0 5px;}
.page_header_inner .location li:first-child:before {content:''; margin-left:0;}
.page_header_inner .location li.here {color:#fff;font-weight:700;}
.page_header_inner .location li.here:before {content:'>';font-weight:400;color:#fff;}
@media screen and (max-width :992px) {
	.page_header {height:200px;}
	.page_header_inner {}
	.page_header_inner h2.gnb_depth1_tit {font-size:2.5rem;line-height:5.5rem;letter-spacing:0;}
	.page_header_inner .location {}
	.page_header_inner .location li {font-size:1.3rem;}
}	
@media screen and (min-width: 993px) and (max-width: 1199px) {
	.page_header {height:400px;padding-top:10rem;text-align:center;}
	.page_header_inner {display:table-cell;vertical-align:middle;}
	.page_header_inner h2.gnb_depth1_tit {font-size:5rem;line-height:10rem;}
	.page_header_inner .location {}
	.page_header_inner .location li {font-size:2.2rem;color:#fff;}
}
@media screen and (min-width:993px) {
	.page_header {height:435px;padding-top:12.5rem;text-align:center;}
	.page_header_inner {display:table-cell;vertical-align:middle;}
	.page_header_inner h2.gnb_depth1_tit {font-size:5rem;line-height:10rem;}
	.page_header_inner .location {}
	.page_header_inner .location li {font-size:2.2rem;color:#fff;}
}

.page_conts {}
.page_conts_tit {position:relative;overflow:hidden;}
.page_conts_tit h3 {float:left;color:#000;font-weight:800;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s}
.page_conts h4 {color:#000;font-weight:700;border-bottom:1px solid #b2b2b2;background:url(/images/front/sub/ico_h4.png) no-repeat 0 0;}
@media screen and (max-width :992px) {
	.page_conts {}
	.page_conts_tit {margin:0 2rem;}
	.page_conts_tit h3 {font-size:2rem;line-height:8.5rem;}
	.page_conts h4  {margin:0 2rem 2rem 2rem;line-height:50px;font-size:1.5rem;background-size:27px auto;padding-left:1.5rem;}
}	
@media screen and (min-width: 993px) and (max-width: 1199px) {	
	.page_conts {}
	.page_conts_tit {margin:0 4rem;}
	.page_conts_tit h3 {font-size:4rem;line-height:18rem;}
	.page_conts h4 {margin:0 4rem 4rem 4rem;padding-left:3rem;font-size:3rem;line-height:79px;background-size:54px auto}
}
@media screen and (min-width:1200px) {
	.page_conts {}
	.page_conts_tit {margin:0 auto;width:auto;max-width:1280px;padding:0 4rem;}
	.page_conts_tit h3 {font-size:4rem;line-height:18rem;}
	.page_conts h4 {margin:0 auto 4rem;width:1200px;padding:0 0 0 3rem;font-size:3rem;line-height:79px;background-size:54px auto}
}

/* Login */
.login {}
.login_wrap {}
.login_wrap  h1 {display:block;padding:0;text-align:center;}
.login_wrap  h1>span {display:inline-block;vertical-align:middle;line-height:normal;font-weight:200;color:#000;text-transform:uppercase;}
.login_form {margin-bottom:50px;}
.login_form ul {margin:0;padding:0;}
.login_form ul li {padding-bottom:5px;}
.login_form ::-webkit-input-placeholder { color:#b8b8b8; }
.login_form ::-moz-placeholder { color:#b8b8b8; } /* firefox 19+ */
.login_form :-ms-input-placeholder { color:#b8b8b8; } /* ie */
.login_form .txt_field {display:block;width:100%;box-sizing:border-box;border-color:#dedede;border-style:solid;background-color:#fff;color:#555;box-shadow:none;}
.login_form .txt_field:-webkit-autofill {-webkit-box-shadow:0 0 0px 1000px #fcfcfc inset;}
.login_form .txt_field:-webkit-autofill:focus, 
.login_form .txt_field:-webkit-autofill:active {outline:none;border-color:#f48729;-webkit-box-shadow:0 0 0px 1000px #fff inset;background-color:#fff; transition: background-color 5000s ease-in-out 0s; }
.login_form .txt_field {-webkit-box-shadow:0 0 0px 1000px #fcfcfc inset;}
.login_form .txt_field:focus, 
.login_form .txt_field:active {outline:none;border-color:#f48729;-webkit-box-shadow:0 0 0px 1000px #fff inset;background-color:#fff; transition: background-color 5000s ease-in-out 0s; }
.login_form .id {display:block;position:relative;}
.login_form .id:after {content:'';position:absolute;background:transparent url(/images/front/common/ico_login_id.png) no-repeat 0 0;}
.login_form .pw {display:block;position:relative;}
.login_form .pw:after {content:'';position:absolute;background:transparent url(/images/front/common/ico_login_pw.png) no-repeat 0 0;}
.login_form .save_id {padding:1.5rem 0 0 0;}
.login_form .save_id label {}
.login_form .bt_login_wrap {padding:2rem 0 0 0;}
.login_form .bt_login {width:100%;border:0;background-color:#f48729;color:#fff;font-weight:700;text-align:center;}
@media screen and (max-width: 767px) {
	.login {margin:0;padding:0;}
	.login_wrap {margin:0 auto;width:72%;}
	.login_wrap  h1 {height:4.5rem;}
	.login_wrap  h1>span {font-size:2rem;}
	.login_form .txt_field {padding:0 0 0 50px;height:50px;font-size:1.5rem;border-width:1px;}
	.login_form .txt_field:-webkit-autofill:focus, 
	.login_form .txt_field:-webkit-autofill:active {border-width:1px;}
	.login_form .id:after, 
	.login_form .pw:after {left:15px;top:50%;margin-top:-12px;width:23px;height:23px;background-size:auto 23px;}
	.login_form .bt_login {height:60px;font-size:2rem;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.login {margin:0;padding:0;}
	.login_wrap {margin:0 auto;width:72%;}
	.login_wrap  h1 {height:4.5rem;}
	.login_wrap  h1>span {font-size:2rem;}
	.login_form ul li {padding-bottom:1rem;}
	.login_form .txt_field {padding:0 0 0 50px;height:50px;font-size:1.5rem;border-width:2px;}
	.login_form .txt_field:-webkit-autofill:focus, 
	.login_form .txt_field:-webkit-autofill:active {border-width:2px;}
	.login_form .id:after, 
	.login_form .pw:after {left:15px;top:50%;margin-top:-12px;width:23px;height:23px;background-size:auto 23px;}
	.login_form .bt_login {height:60px;font-size:2rem;}
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
	.login {margin:0 auto;width:auto;max-width:1200px;padding:0 4rem;}
	.login_wrap {margin:0 auto;width:50%;}
	.login_wrap  h1 {height:9rem;}
	.login_wrap  h1>span {font-size:4rem;}
	.login_form ul li {padding-bottom:1rem}
	.login_form .txt_field {padding:0 0 0 95px;height:60px;font-size:1.7rem;border-width:2px;}
	.login_form .txt_field:-webkit-autofill:focus, 
	.login_form .txt_field:-webkit-autofill:active {border-width:2px;}
	.login_form .id:after, 
	.login_form .pw:after {left:30px;top:50%;margin-top:-18px;width:36px;height:36px;background-size:auto 36px;}
	.login_form .bt_login {height:70px;font-size:2.6rem;}
}
@media screen and (min-width:1200px) {
	.login {margin:0 auto 10rem;width:auto;max-width:1200px;padding:0 2rem;}
	.login_wrap {margin:0 auto;width:41%;}
	.login_wrap  h1 {height:9rem;}
	.login_wrap  h1>span {font-size:4rem;}
	.login_form {margin-bottom:50px;}
	.login_form ul {margin:0;padding:0;}
	.login_form ul li {padding-bottom:10px;}
	.login_form .txt_field {padding:0 0 0 95px;height:60px;font-size:1.7rem;border-width:2px;}
	.login_form .txt_field:-webkit-autofill:focus, 
	.login_form .txt_field:-webkit-autofill:active {border-width:2px;}
	.login_form .id:after,
	.login_form .pw:after {left:30px;top:50%;margin-top:-18px;width:36px;height:36px;background-size:auto 36px;}
	.login_form .bt_login {height:70px;font-size:2.6rem;}
}