<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="menu">

	<typeAlias alias="menu" type="com.itsp.vo.MenuVO" />

	<resultMap id="map" class="menu">
		<result property="seq" column="SEQ" />
		<result property="title" column="TITLE" />
		<result property="explanation" column="EXPLANATION" />
		<result property="depth" column="DEPTH" />
		<result property="parentSeq" column="PARENT_SEQ" />
		<result property="sortOrder" column="SORT_ORDER" />
		<result property="treeType" column="TREE_TYPE" />
		<result property="type" column="TYPE" />
		<result property="url" column="URL" />
		<result property="linkTarget" column="LINK_TARGET" />
		<result property="includePath" column="INCLUDE_PATH" />
		<result property="configSeq" column="CONFIG_SEQ" />
		<result property="categorySeq" column="CATEGORY_SEQ" />
		<result property="recordSeq" column="RECORD_SEQ" />
		<result property="useYn" column="USE_YN" />
	</resultMap>

	<select id="seqNextVal" resultClass="string">
		SELECT IWORK_SEQUENCE.NEXTVAL AS SEQ FROM DUAL
	</select>

	<!-- lnb -->
	<select id="lnbSelect" resultMap="map">
		SELECT * FROM I_MENU
		WHERE 1=1
		AND SORT_ORDER Like #sortOrder#||'%'
		AND DEPTH != '1'
		ORDER BY SORT_ORDER ASC
	</select>

	<!-- 리스트 -->
	<select id="selectMenuList" resultMap="map">
		SELECT *  FROM I_MENU
		WHERE 1=1
		<isNotEmpty prepend="AND" property="useYn">
			USE_YN = #useYn#
		</isNotEmpty>
		ORDER BY SORT_ORDER ASC
	</select>

	<select id="selectMenu" resultMap="map">
		SELECT * FROM I_MENU
		WHERE SEQ = #seq#
	</select>

	<select id="menuMaxSiblingSortOder" resultClass="String" parameterClass="String">
		SELECT IFNULL(max(SORT_ORDER), 0) FROM I_MENU
		WHERE PARENT_SEQ = #parentSeq#
	</select>

	<!-- 탭 메뉴 관련 -->
	<select id="tabSortOrder" resultClass="string">
		SELECT SORT_ORDER FROM I_MENU
		WHERE SEQ = #seq#
	</select>

	<select id="tabSortOrderSelectIn" parameterClass="java.util.HashMap" resultClass="string">
		SELECT SORT_ORDER FROM I_MENU
		WHERE 1=1
		AND TREE_TYPE = 'tabMenu'
		AND SORT_ORDER
		<iterate prepend="IN" property="inSortOrderArray" open="(" close=")" conjunction=",">
			#inSortOrderArray[]#
		</iterate>
		ORDER BY SORT_ORDER
	</select>

	<select id="menuTabSelect" resultMap="map">
		SELECT * FROM I_MENU
		WHERE 1=1
		AND SORT_ORDER LIKE #sortOrder#||':%'
		ORDER BY SORT_ORDER ASC
	</select>

	<!-- 페이지 타이틀 -->
	<select id="menuSelectTitle" parameterClass="java.util.HashMap" resultMap="map">
		SELECT * FROM I_MENU
		WHERE 1=1
		AND SORT_ORDER
		<iterate prepend="IN" property="whereSortOrderArray" open="(" close=")" conjunction=",">
			#whereSortOrderArray[]#
		</iterate>
		ORDER BY SORT_ORDER
	</select>
	
	
	<insert id="insertDataProc">
		INSERT INTO I_MENU (
			TITLE,
			DEPTH,
			PARENT_SEQ,
			SORT_ORDER,
			TREE_TYPE,
			TYPE,
			URL,
			LINK_TARGET,
			INCLUDE_PATH,
			CONFIG_SEQ,
			CATEGORY_SEQ,
			RECORD_SEQ,
			EXPLANATION,
			USE_YN
		) VALUES(
			#title#,
			#depth#,
			#parentSeq#,
			#sortOrder#,
			#treeType#,
			#type#,
			#url#,
			#linkTarget#,
			#includePath#,
			#configSeq#,
			#categorySeq#,
			#recordSeq#,
			#explanation#,
			#useYn#
		)
	</insert>
	
	<update id="updateDataProc">
		UPDATE I_MENU SET
			USE_YN = <![CDATA[ #useYn#]]>,
			TITLE = <![CDATA[#title#]]>,
			EXPLANATION = <![CDATA[ #explanation#]]>,
			TREE_TYPE  = <![CDATA[ #treeType#]]>,
			TYPE = <![CDATA[ #type#]]>,
			URL = <![CDATA[ #url#]]>,
			LINK_TARGET = <![CDATA[ #linkTarget#]]>,
			INCLUDE_PATH = <![CDATA[ #includePath#]]>,
			CONFIG_SEQ = <![CDATA[ #configSeq#]]>,
			CATEGORY_SEQ = <![CDATA[ #categorySeq#]]>,
			RECORD_SEQ = <![CDATA[ #recordSeq#]]>
		WHERE SEQ = #seq#
	</update>

	<procedure id="saveDataProc">
		DECLARE 
			I_COUNT NUMBER; 
			I_SEQ VARCHAR2(10) := #seq#;
		BEGIN
			SELECT COUNT(SEQ) INTO I_COUNT FROM I_MENU WHERE SEQ = I_SEQ;
			BEGIN
				IF I_COUNT <![CDATA[<>]]> 0 THEN
					UPDATE I_MENU SET
						USE_YN = <![CDATA[ #useYn#]]>,
						TITLE = <![CDATA[#title#]]>,
						EXPLANATION = <![CDATA[ #explanation#]]>,
						TREE_TYPE  = <![CDATA[ #treeType#]]>,
						TYPE = <![CDATA[ #type#]]>,
						URL = <![CDATA[ #url#]]>,
						LINK_TARGET = <![CDATA[ #linkTarget#]]>,
						INCLUDE_PATH = <![CDATA[ #includePath#]]>,
						CONFIG_SEQ = <![CDATA[ #configSeq#]]>,
						CATEGORY_SEQ = <![CDATA[ #categorySeq#]]>,
						RECORD_SEQ = <![CDATA[ #recordSeq#]]>
					WHERE SEQ = I_SEQ;
				ELSE
					INSERT INTO I_MENU (
						SEQ,
						TITLE,
						DEPTH,
						PARENT_SEQ,
						SORT_ORDER,
						TREE_TYPE,
						TYPE,
						URL,
						LINK_TARGET,
						INCLUDE_PATH,
						CONFIG_SEQ,
						CATEGORY_SEQ,
						RECORD_SEQ,
						EXPLANATION,
						USE_YN
					) VALUES(
						I_SEQ,
						#title#,
						#depth#,
						#parentSeq#,
						#sortOrder#,
						#treeType#,
						#type#,
						#url#,
						#linkTarget#,
						#includePath#,
						#configSeq#,
						#categorySeq#,
						#recordSeq#,
						#explanation#,
						#useYn#
					);
				END IF;
			END;
		END;
	</procedure>

	<!-- 삭제 -->
	<delete id="deleteDataProc">
		DELETE FROM I_MENU WHERE SEQ = #seq#
	</delete>

	<select id="selectFindMenuSeq" resultClass="string">
		SELECT SEQ FROM I_MENU
		WHERE URL = #url#
		AND ROWNUM = 1
	</select>

	<update id="sortOrderUpdate">
		UPDATE I_MENU SET
			DEPTH = #depth#,
			PARENT_SEQ = #parentSeq#,
			SORT_ORDER = #sortOrder#
		WHERE SEQ = #seq#
	</update>

</sqlMap>